# Importing Libraries

In [1]:
import pandas as pd

# Get Data

In [2]:
df = pd.read_csv('../data/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Basic Aggregation

In [27]:
display(df['Survived'].mean().round(2))

display(df.groupby('Sex')['Survived'].count().round(2)) 

display('Surviving Male:' , df[(df['Sex'] == 'male') & (df['Survived'] == 1)].shape[0])

0.38

Sex
female    314
male      577
Name: Survived, dtype: int64

'Surviving Male:'

109

# Multi Aggregation

In [28]:
df['Age'].agg(['min', 'max', 'mean', 'median']).round(2)

min        0.42
max       80.00
mean      29.70
median    28.00
Name: Age, dtype: float64

# Applying Statistics

In [29]:
iqr_age = df['Age'].quantile(0.75) - df['Age'].quantile(0.25)
print('Interquartile Range of Age:', iqr_age.round(2))

Interquartile Range of Age: 17.88

In [33]:
median_age = df['Age'].median()
mean_age = df['Age'].mean()

print('Median | Mean of Age')
print(median_age.round(2), '|', mean_age.round(2))

Median | Mean of Age
28.0 | 29.7

In [34]:
std_age = df['Age'].std()
print('Standard Deviation of Age:', std_age.round(2))

Standard Deviation of Age: 14.53

# Practice

In [61]:
# Survival Rate

survival_rate = df['Survived'].sum() / len(df) * 100
print('Survival Rate:', survival_rate.round(2) ,'%')
print('\n')

avg_survivor_age = df.loc[df['Survived'] == 1, 'Age'].mean()
avg_non_survivor_age = df.loc[df['Survived'] == 0, 'Age'].mean()

print('Average Age of Survivor', avg_survivor_age.round(2), 'years old')
print('Average Age of Non-Survivor', avg_non_survivor_age.round(2), 'years old')

print('\n')

avg_survivor_fare = df.loc[df['Survived'] == 1, 'Fare'].mean()
avg_non_survivor_fare = df.loc[df['Survived'] == 0, 'Fare'].mean()

print('Average Fare paid by Survivor', avg_survivor_fare.round(2), '$')
print('Average Fare paid by Non-Survivor', avg_non_survivor_fare.round(2), '$')

Survival Rate: 38.38 %


Average Age of Survivor 28.34 years old
Average Age of Non-Survivor 30.63 years old


Average Fare paid by Survivor 48.4 $
Average Fare paid by Non-Survivor 22.12 $